<!DOCTYPE HTML>
<html>
	<head>
		
		<title>PROYECTO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<link id="theme-stylesheet" href="{% static 'app/css/main2.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'app/css/noscript.css' %}" />
	</head>
	
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Norma NIIF 16 </h1>
 								<p>Arrendamientos</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">Presentación</a></li>
								<li><a href="#about">Instructivo</a></li>
							</ul> <br>
						</nav>
							<a class="button" href="aplicativo2/">Ir a la Herramienta</a>
							
					</header>

				<!-- Main -->
					<div id="main">
						<!-- Presentación -->
							<article id="intro">
								<h2 class="major">Presentación</h2>
								<span class="image main"><img src="{% static 'app/images/pic01.jpg' %}" alt="" /></span>
								<p style="text-align: justify;">Bienvenido a nuestra herramienta de apoyo para la aplicación y visualización de los efectos financieros 
									y tributarios de la Norma Internacional de Información Financiera (NIIF) 16 en contratos de arrendamiento. 
									Esta herramienta ha sido desarrollada para brindar asistencia a las empresas del Grupo 1 en Colombia 
									que están bajo la supervisión de la Superintendencia de Sociedades y que operan bajo la NIIF 16. <br><br>
									La NIIF 16, emitida por el IASB, se ha convertido en un estándar crucial que regula la contabilidad de arrendamientos.
									 Para cumplir con esta normativa y tomar decisiones informadas, 
									 es esencial entender y aplicar adecuadamente sus disposiciones. <br> <br>
									Nuestra aplicación se ha diseñado con un enfoque en el arrendatario y tiene como objetivo facilitar los cálculos 
									relacionados con los contratos de arrendamiento. Proporciona una plataforma para realizar operaciones contables, 
									financieras y tributarias, permitiendo la visualización clara de 
									los efectos de la NIIF 16 en las operaciones de su empresa. <br><br>
									Esta herramienta, desarrollada como proyecto de investigación por Yeimy Vanessa Rincón Herrera, 
									Karen Lorena León Duarte acompañadas del Ingeniero y programador Gerson Merchán y 
									el profesor Oscar Rueda Serrano en colaboración con la Universidad de Santander, 
									se basa en estándares internacionales y mejores prácticas contables. 
									Está diseñada para simplificar la complejidad de la NIIF 16 y 
									brindar orientación a las empresas en la toma de decisiones relacionadas con sus contratos de arrendamiento. <br>
									<ul>
										<li>Pertenecer al Grupo 1 de empresas.</li>
										<li>Estar bajo la supervisión de la Superintendencia de Sociedades.</li>
										<li>Tratar con contratos de arrendamiento financieros.</li>
									</ul>
									<p style="text-align: justify;">Le invitamos a explorar y utilizar nuestra herramienta con confianza,
										sabiendo que está respaldada por una investigación sólida y un enfoque
										 práctico para ayudar a su empresa a cumplir con las regulaciones de la NIIF 16 y tomar decisiones informadas.</p>
								</p>
							</article>

						<!-- Instructivo -->
							<article id="about">
								<h2 class="major">Instructivo</h2>
								<span class="image main"><img src="{% static 'app/images/pic03.jpg' %}" alt="" /></span>
								<p style="text-align: justify;"><strong>Estructura.</strong> <br>
									La herramienta de aplicación de la NIIF 16 conformado de la siguiente
									<ol style="text-align: justify;">
										<li>Cuestionario: Son las preguntas iniciales para determinar si el arrendatario debe aplicar la NIIF 16 y qué tipo de tasa va a emplear en el procedimiento.</li>
										<li>Datos y amortizaciones: En datos, el arrendatario introduce los valores solicitados de acuerdo a la tasa que usa, para proceder a realizar los cálculos. En amortización muestra la tabla de amortización del contrato de arrendamiento.</li>
										<li>Reconocimiento inicial: Se visualiza la contabilización del activo y de impuesto diferido.</li>
										<li>Reconocimiento posterior: Se observa los asientos contables de la depredación del activo, los intereses y pagos generados.</li>
										<li>Cálculo del impuesto diferido: Aquí se computa la diferencia del impuesto diferido.</li>
										<li>Reconocimiento impuesto diferido: Se causa los ajustes de la diferencia en el Impuesto Diferido.</li>
										<li>Estados de situación financiera: Atiende al Estado de Situación Financiera y el Estado de Resultado Integral.</li>
										<li>Efectos fiscales: Se observa la diferencia tributaria.</li>
										<li>Efectos financieros: Se plasma dos cuadros explicativos de los posibles efectos financieros.</li>
									</ol>
									<strong>Desplazamiento en las hojas de la herramienta.</strong> <br>
									<p style="text-align: justify;">La herramienta posee con botones para ir de hoja en hoja o de <em>"datos y amortizaciones"</em> a la hoja que necesite el usuario. <br>
									</p>
									<strong>Casillas deshabilitadas.</strong> <br>
									<p style="text-align: justify;">Las casillas del <em>"cuestionario"</em> y de <em>"datos y amortizaciones"</em> en color gris y con el texto <em>"N/A"</em>, no se diligencian, ya que los datos los genera la herramienta automáticamente. <br>
									</p>
									<strong>Diligenciamiento.</strong> <br>
									<p style="text-align: justify;">La hoja cuestionario y la hoja de datos y amortizaciones están destinadas para responder preguntas cualitativas y cuantitativas para que la herramienta genere automáticamente el procedimiento de la aplicación de la NIIF  16.
										El cuestionario hace cinco preguntas con el propósito de saber si el usuario aplica la norma y que tasa de descuento debe aplicar. La mayoría de preguntas se responden con las opciones que tiene la lista despegable.
										La pregunta 3 se responde cuando aplique, de lo contrario no se introduce el dato de la tasa incremental. 
										La hoja de datos y amortizaciones pregunta los datos cuantitativos particulares del arrendamiento como: el canon, el tiempo y en determinado caso el valor razonable del contrato de arrendamiento. <br></p>
									<strong>Procedimiento.</strong> <br>
									<p style="text-align: justify;">Las mediciones, los reconocimientos, la presentación, cálculo del impuesto diferido y los efectos del contrato de arrendamiento son sistemáticos a partir de las respuestas conmutadas en la hoja cuestionario y la hoja datos y amortizaciones. <br></p>
								</p>
							</article>

						<!-- Contacto -->
							<article id="contact">
								<h2 class="major">Auxiliares de Desarrollo</h2>
								<h4>Karen</h4>
								<blockquote>Fringilla nisl. 
									Donec accumsan interdum nisi,
									quis tincidunt felis sagittis eget tempus euismod.
									Vestibulum ante ipsum primis in faucibus vestibulum.
									Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus.
									Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.
								</blockquote>

								<h4>Compañera de Karen</h4>
								<blockquote>Fringilla nisl. 
									Donec accumsan interdum nisi,
									quis tincidunt felis sagittis eget tempus euismod.
									Vestibulum ante ipsum primis in faucibus vestibulum.
									Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus.
									Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.
								</blockquote>
									
								<h4>Compañera de Karen</h4>
								<blockquote>Fringilla nisl. 
									Donec accumsan interdum nisi,
									quis tincidunt felis sagittis eget tempus euismod.
									Vestibulum ante ipsum primis in faucibus vestibulum.
									Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus.
									Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.
								</blockquote>
							</article>

					</div>
					<aside>
						<a id="theme-toggle-button" href="{% url 'base' %}">
							<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
						</a>
					</aside>
				<!-- Footer -->
					<footer id="footer">
						  <img src="{% static 'app/images/footer_corregir.png' %}"/>
					</footer>
			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{% static 'app/js/jquery.min.js' %}"></script>
			<script src="{% static 'app/js/browser.min.js' %}"></script>
			<script src="{% static 'app/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'app/js/util.js' %}"></script>
			<script src="{% static 'app/js/main.js' %}"></script>
	</body>
</html>
