<!DOCTYPE HTML>
<html>
	<head>
		<title>PROYECTO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}
		<link rel="stylesheet" href="{% static 'app/css/tablas.css' %}" />
		<link rel="stylesheet" href="{% static 'app/css/noscript.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
        <div id="wrapper">
                <header id="header">
                </header>
				<!-- Main -->
                    <article id="intro">
                        <h2 class="major">Reconocimiento Posterior</h2>
                        <section>
                            <h3 class="major">Gasto Financiero(Intereses)</h3>
                                <div class="table-wrapper">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th><em>Codigo</em></th>
                                                <th><em>5305</em></th>
                                                <th><em>210511</em></th>
                                            </tr>
                                            <tr>
                                                <th><em>Cuenta</em></th>
                                                <th><em>Gasto Financiero</em></th>
                                                <th><em>Interes Derecho a uso</em></th>
                                            </tr>
                                            <tr>
                                                <th>Periodo</th>
                                                <th>Debe</th>
                                                <th>Haber</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for amortizacion in amortizacion_data %}
                                            <tr>
                                                <td>{{ amortizacion.periodo }}</td>
                                                <td class="format-number">{{ amortizacion.interes|floatformat:2 }}</td>
                                                <td class="format-number">{{ amortizacion.interes|floatformat:2 }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                        </section>
                        <div style="text-align: center;">
                            <button><a  href="{% url 'tabla3' %}">Atras</a></button>
                            <button><a href="/aplicativo/">Calcular de Nuevo</a></button>
                            <button><a href="/">Volver al Inicio</a></button>
                            <button><a href="javascript:history.back()">Volver atrás</a></button>
                            <button><a  href="{% url 'tabla5' %}">Siguiente</a></button>
                        </div>
                    </article>
                    <br>
				<!-- Footer -->
                <footer id="footer">
                    <img src="{% static 'app/images/footer_corregir.png' %}"/>
                </footer>
        </div>			  

            
		<!-- BG -->
			<!-- <div id="bg"></div> -->

		<!-- Scripts -->
			<script src="{% static 'app/js/jquery.min.js' %}"></script>
			<script src="{% static 'app/js/browser.min.js' %}"></script>
			<script src="{% static 'app/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'app/js/util.js' %}"></script>
			<script src="{% static 'app/js/main.js' %}"></script>
			<script src="{% static 'app/js/tablas.js' %}"></script>

            
	</body>
</html>
