<!DOCTYPE HTML>
<html>
	<head>
		<title>PROYECTO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}
		<link rel="stylesheet" href="{% static 'app/css/main2.css' %}" />
		<link rel="stylesheet" href="{% static 'app/css/noscript.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
        <div id="wrapper">
                <header id="header">
                </header>
				<!-- Main -->
                    <article id="intro">
                        <h2 class="major">Reconocimiento Impuesto Diferido</h2>
                        <section>
                                <div class="table-wrapper">
                                    <table>
                                        <colgroup span="1"></colgroup>
                                        <colgroup span="3"></colgroup>
                                        <colgroup span="1" class="divider"></colgroup>
                                        <colgroup span="3"></colgroup>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th colspan="3"><strong style="font-size: 18px;
                                                    text-transform: uppercase;">Activo por impuesto diferido</strong></th>
                                                <th ></th>
                                                <th colspan="3"><strong style="font-size: 18px;
                                                    text-transform: uppercase;">Pasivo por impuesto diferido</strong></th>
                                            </tr>
                                            <tr>
                                                <th><em>Codigo</em></th>
                                                <th><em>54</em></th>
                                                <th><em>17</em></th>
                                                <th class="divider"></th>
                                                <th><em>Codigo</em></th>
                                                <th><em>27</em></th>
                                                <th><em>54</em></th>
                                                <th class="divider"></th>
                                                <th style="text-align: center;"><em>-</em></th>
                                            </tr>
                                            <tr>
                                                <th><em>Cuenta</em></th>
                                                <th><em>Gasto Impuesto Diferido</em></th>
                                                <th><em>Activo por Impuesto diferido</em></th>
                                                <th class="divider"></th>
                                                <th><em>Cuenta</em></th>
                                                <th><em>Pasivo por Impuesto diferido</em></th>
                                                <th><em>Gasto Impuesto Diferido</em></th>
                                                <th class="divider"></th>
                                                <th style="text-align: center;"><em>-</em></th>
                                            </tr>
                                            <tr>
                                                <th>Periodo</th>
                                                <th>Debe</th>
                                                <th>Haber</th>
                                                <th class="divider"></th>
                                                <th>Periodo</th>
                                                <th>Debe</th>
                                                <th>Haber</th>
                                                <th class="divider"></th>
                                                <th>Diferencia Impuesto Diferido Neto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for amortizacion in amortizacion_data %}
                                            <tr>
                                                <td>{{ amortizacion.periodo }}</td>
                                                <td class="format-number">{{ amortizacion.impuesto_activo|floatformat:2 }}</td>
                                                <td class="format-number">{{ amortizacion.impuesto_activo|floatformat:2 }}</td>
                                                <td class="divider"></td>
                                                <td class="format-number">{{ amortizacion.periodo }}</td>
                                                <td class="format-number">{{ amortizacion.impuesto_pasivo|floatformat:2 }}</td>
                                                <td class="format-number">{{ amortizacion.impuesto_pasivo|floatformat:2 }}</td>
                                                <td class="divider"></td>
                                                <td style="text-align: center;" class="format-number">{{ amortizacion.diferencia_diferencia|floatformat:2 }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                        </section>
                        <div style="text-align: center;">
                            <button><a  href="{% url 'tabla7c' %}">Atras</a></button>
                            <button><a href="/base2/">Volver al Inicio</a></button>
                            <button><a href="{% url 'tablas2' %}">Volver a Resultados</a></button>
                            <button><a  href="{% url 'tabla9c' %}">Siguiente</a></button>
                            <button id="imprimirTabla"><a href=""></a>Imprimir Tabla</button>
                        </div>
                    </article>
                    <br>
				<!-- Footer -->
                <footer id="footer">
                    <img src="{% static 'app/images/footer_corregir.png' %}"/>
                </footer>
        </div>			  

            
		<!-- BG -->
			<!-- <div id="bg"></div> -->

		<!-- Scripts -->
			<script src="{% static 'app/js/jquery.min.js' %}"></script>
			<script src="{% static 'app/js/browser.min.js' %}"></script>
			<script src="{% static 'app/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'app/js/util.js' %}"></script>
			<script src="{% static 'app/js/main.js' %}"></script>
			<script src="{% static 'app/js/tablas.js' %}"></script>
			<script src="{% static 'app/js/imprimir.js' %}"></script>


            
	</body>
</html>
