<!DOCTYPE HTML>
<html>
	<head>
		<title>PROYECTO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}
		<link rel="stylesheet" href="{% static 'app/css/main2.css' %}" />
		<link rel="stylesheet" href="{% static 'app/css/noscript.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
        <div id="wrapper">
                <header id="header">
                </header>
				<!-- Main -->
                    <article id="intro">
                        <h2 class="major">Reconocimiento Posterior</h2>
                        <section>
                            <h3 class="major">Amortización del activo en uso</h3>
                                <div class="table-wrapper">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th><em>Codigo</em></th>
                                                <th><em>5165</em></th>
                                                <th><em>1597</em></th>
                                            </tr>
                                            <tr>
                                                <th><em>Cuenta</em></th>
                                                <th><em>Gasto depreciación</em></th>
                                                <th><em>Depreciación activo en uso</em></th>
                                            </tr>
                                            <tr>
                                                <th>Periodo</th>
                                                <th>Debe</th>
                                                <th>Haber</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for periodo in periodos_lista %}
                                            <tr>
                                                <td>{{ periodo }}</td>
                                                <td class="format-number">{{ depreciaciones }}</td>
                                                <td class="format-number">{{ depreciaciones }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                        </section>
                        <div style="text-align: center;">
                            <button><a  href="{% url 'tabla2c' %}">Atras</a></button>
                            <button><a href="/base2/">Volver al Inicio</a></button>
                            <button><a href="{% url 'tablas2' %}">Volver a Resultados</a></button>
                            <button><a  href="{% url 'tabla4c' %}">Siguiente</a></button>
                            <button id="imprimirTabla"><a href=""></a>Imprimir Tabla</button>
                        </div>
                    </article>
                    <br>
				<!-- Footer -->
                <footer id="footer">
                    <img src="{% static 'app/images/footer_corregir.png' %}"/>
                </footer>
        </div>			  

            
		<!-- BG -->
			<!-- <div id="bg"></div> -->

		<!-- Scripts -->
			<script src="{% static 'app/js/jquery.min.js' %}"></script>
			<script src="{% static 'app/js/browser.min.js' %}"></script>
			<script src="{% static 'app/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'app/js/util.js' %}"></script>
			<script src="{% static 'app/js/main.js' %}"></script>
			<script src="{% static 'app/js/tablas.js' %}"></script>
			<script src="{% static 'app/js/imprimir.js' %}"></script>


            
	</body>
</html>
