<!DOCTYPE HTML>
<html>
	<head>
		<title>PROYECTO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}
		<link rel="stylesheet" href="{% static 'app/css/tablas.css' %}" />
		<link rel="stylesheet" href="{% static 'app/css/noscript.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
        <div id="wrapper">
                <header id="header">
                </header>
				<!-- Main -->
                    <article id="intro">
                        <h2 class="major">Impuesto Diferido</h2>
                        <section>
                            <h3 class="major">Evaluación del efecto Fiscal desde las diferencias temporales</h3>
                                <div class="table-wrapper">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th><em></em></th>
                                                <th><em>Gastos Según NIIF 16</em></th>
                                                <td class="divider"></td>
                                                <th><em></em></th>
                                                <th><em></em></th>
                                                <th><em>Gasto Fiscal</em></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th>Periodo</th>
                                                <th>Gasto Financiero Intereses</th>
                                                <td class="divider"></td>
                                                <th>Gasto por Amortizacion <br>del activo</th>
                                                <th>Total</th>
                                                <th>Deducción Impuesto a la renta
                                                    <br> canon de arrendamiento realmente</th>
                                                <th>Diferencia Temporal</th>
                                                <th>Impuesto Diferido neto del <br> resultado del ejercicio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for amortizacion in amortizacion_data %}
                                            <tr>
                                                <td>{{ amortizacion.periodo }}</td>
                                                <td class="format-number">{{ amortizacion.interes|floatformat:2 }}</td>
                                                <td class="divider"></td>
                                                <td class="format-number">{{ amortizacion.depreciacion }}</td>
                                                <td class="format-number">{{ amortizacion.total|floatformat:2 }}</td>
                                                <td class="format-number">{{ amortizacion.canon|floatformat:2 }}</td>
                                                <td class="format-number">{{ amortizacion.dif_temporal|floatformat:2 }}</td>
                                                <td class="format-number">{{ amortizacion.imp_diferido|floatformat:2 }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                        </section>
                        <div style="text-align: center;">
                            <button><a  href="{% url 'tabla6' %}">Atras</a></button>
                            <button><a href="/aplicativo/">Calcular de Nuevo</a></button>
                            <button><a href="/">Volver al Inicio</a></button>
                            <button><a href="javascript:history.back()">Volver atrás</a></button>
                            <button><a  href="{% url 'tabla8' %}">Siguiente</a></button>
                        </div>
                    </article>
                    <br>
				<!-- Footer -->
                <footer id="footer">
                    <img src="{% static 'app/images/footer_corregir.png' %}"/>
                </footer>
        </div>			  

            
		<!-- BG -->
			<!-- <div id="bg"></div> -->

		<!-- Scripts -->
			<script src="{% static 'app/js/jquery.min.js' %}"></script>
			<script src="{% static 'app/js/browser.min.js' %}"></script>
			<script src="{% static 'app/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'app/js/util.js' %}"></script>
			<script src="{% static 'app/js/main.js' %}"></script>
			<script src="{% static 'app/js/tablas.js' %}"></script>

            
	</body>
</html>
